<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/navbar'); %>
        <% if (name) { %>
            <p><%- name %> </p>
            <p><%- id %> </p>
        <% } %>
    </body>