<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/logged_navbar'); %>
            <main class="main">
                <form method="POST" action="/contacts/edit/<%- req.params.id %> " class="container d-flex flex-column add-form mt-5">
                    <div class="form-group">
                        <label for="contact_name">Contact Name</label>
                        <input type="text" class="form-control" name="contact_name"
                            placeholder="Jhon Die" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="contact_phone">Contact Phone Number</label>
                        <input type="tel" class="form-control" name="contact_phone" placeholder="957 354 875" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="contact_description">Contact Description</label>
                        <textarea class="form-control" name="contact_description" autofocus rows="3"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-secondary">Update Contact</button>
                    </div>
                </form>
            </main>
    </body>