<%- include('./partials/head'); %>

    <body class="masthead">
        <%- include('./partials/navbar'); %>
        <main class="main">
            <div class="container text-center mb-5">
                <h2 class="fw-bold">Contacts App</h1>
                <p class="text-intro">Welcome to your contact app, where you can store your contacts</p>
                <button class="btn btn-secondary button-over"><a href="/">Get Started</a></button>
            </div>
        </main>
    </body>