.masthead {
    height: 100vh;
    background: url('../img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.not-sign>h5 {
    color: red;
    font-style: italic;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: aliceblue;
}

.contact-icon {
    height: 100%;
    margin-right: 10px;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
}

.main>div>h2 {
    font-weight: bold;
}

.text-intro {
    font-style: italic;
    color: black;
    font-size: 15px;
}

.button-over:hover {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    background: #555555;
    border: none;
    border-radius: 5px;
}

.form {
    margin-bottom: 10px;
}

.contact-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.contact-phone {
    font-size: 20px;
    color: black;
}

.contact-description {
    font-size: 17px;
    color: #fff;
    max-width: 75%;
}

@media only screen and (min-width : 901px) {
    .add-form {
        width: 25%;
    }

    .welcome {
        width: 35%;
        border-radius: 5px;
        margin-top: 7%;
    }

    .main-contacts {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, minmax(120px, 7%));
        grid-gap: 5% 2%;
        margin-top: 3%;
    }

    .grid-column {
        display: flex;
        margin-top: 4%;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 75%;
        max-width: 75%;
        text-align: center;
        flex-wrap: wrap;
        border-radius: 5px;
        align-items: center;
    }
}

@media only screen and (max-width : 900px) {
    .add-form {
        width: 75%;
    }

    .main-contacts {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5%;
        grid-gap: 3%;
    }

    .grid-column {
        display: flex;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 75%;
        border-radius: 5px;
        max-width: 75%;
        text-align: center;
        align-items: center;
    }

    .welcome {
        width: 80%;
        border-radius: 5px;
        margin-top: 7%;
    }
}